
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>

      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to "編集", user_path(current_user.id) %>
      </div>


      <h2 class="mt-3">New book</h2>
      <%= form_with model: @book do |f| %>
          <label>Title</label><br>
          <%= f.text_field :title %>
          <label>Opinion</label><br>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
      <% end %>


    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books detail</h2>
      <table class="table">
        <tbody>
           <tr>
             <td>
               <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(100,100) %><br>
                <%= @user.name %>
               <% end %>
             </td>
             <td>
               <%= link_to @bookw.title, book_path(@bookw.id) %>
             </td>
             <td>
               <%= @bookw.body %>
             </td>
             <td>
               <% if @bookw.user == current_user %>
                <%= link_to 'Edit', edit_book_path(@bookw) %>
               <% end %>
             </td>
             <td>
               <% if @bookw.user == current_user %>
                <%= link_to 'Destroy', book_path(@bookw), method: :delete %>
               <% end %>
             </td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

